#login {
    .ant-alert {
        margin-bottom: 15px;
    }
    .loginFormPassword {
        margin-bottom: 0px;
    }
}

#forgot {
    .ant-alert {
        margin-bottom: 15px;
    }    
}
#reset {
    .ant-form-item {
        margin-bottom: 0px;
    }
    .ant-alert {
        margin-bottom: 15px;
    }    
}